@import '_settings';
@import '../bower_components/foundation-sites/scss/foundation';
@import '../fonts/foundation-icons/foundation-icons.css';
@import '_header';
@import '_artwork_stack';
@import '_dispositions';
@import '_members';

footer{
	height: 10rem;
}

section{
    height: 100%;
}

/**

Review phase management of piece tables for editions and formats 
This hover system keeps the page information density low when 
there are many elements shown on the page. 

**/
@media only screen { /* small up */ 
	div.pieces {
		button {
			display: none;
		}
		table {
			display: block;
		}
	}
}
@media only screen and (min-width: 40.063em) {   
	div.pieces {
		position: relative;
		button {
			display: block;
		}
		table {
			display: none;
		}
	}

	div.pieces:hover {
		button {
			display: none;
		}
		table {
			display: block;
			position: absolute;
			top: 0;
			overflow-y: visible;
			z-index: 1000;
		}
	}
}


/*section.format {
	@include grid-row;
	padding-top: 1em;
}*/

p.policy_statement {
	padding-top: .8em;
	font-size: 90%;
	color: #444;
}


form {
	legend {
		background: #ccc none repeat scroll 0 0;
		color: #7a7a7a;
		padding-left: 0.3rem;
		width: 100%;
	}
	img {
		width: 30%;
	}
	
	.form-error, .error-message {
		color: #ec5840;
		display: block;
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: 1rem;
		margin-top: 0;
	}
}

span.nav {
	font-size: .9rem;
}

div.radio > label {
	
	.disabled {
		color: #ccc;
	}
	
	input {
		margin: .5rem;

		.disabled {
			color: #ccc;
		}
		
	}
}

.disabled  {
	color: #ccc;
}

div.training {
	@include grid-column-row();
	@include grid-column(8);
}


div.input-with-toollabel{
    @include grid-row();
    label {
       @include grid-column(2); 
       text-align: right;
    }
    div.input{
        @include grid-column(10);
    }
}

.inline_icon, .inline_nav {
    margin-right: 0.5rem;
/*	i {
		background-color: #eee;
		
	}*/
}

span.inline_icon.nav {
    font-size: 80%;
    i.fi-pencil {
        font-size: 85%;
    }
}

div.back_img {
	/* The image used */
    background-image: url('/img/IMG_0041_2.jpg');

    /* Full height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// div.banner {
// 	height: 1000px;
// 	background-color: green;
// }
div.logo {
	background-color: transparent;
}
div.intro_section{
    /* Full height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Dim image */
    // background-color: rgba(255,255,255,0.5);
    background-color: green;
}
div.section1 {
	/* The image used */
    background-image: url('/img/Artists-at-Work-Sign.jpg');
}
div.section2 {
	/* The image used */
    background-image: url('/img/painter2.jpg');
}
div.section3 {
	/* The image used */
    background-image: url('/img/sculptor_3.jpg');
}
div.bottom_bar {
    bottom: 0;
    // height: 40px;
    // line-height: 20px;
    position: absolute;
    // right: 0;
    // width: 40px;
}
div.intro_section::after {
    content: “”;
    background-color: #ffffff;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
div.text {
    @include grid-column-row();
    @include grid-column(8);
}